.home_components {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: calc(100vh - 150px);
  user-select: none;
}
.dp {
  height: 450px;
  width: 425px;
  border-radius: 20px;
  border: 1px solid #252525;
}
@media screen and (max-width: 767px) {
  .dp {
    height: 300px;
    width: 284px;
  }
  .home_components {
    flex-direction: column;
    gap: 3rem;
  }
}

.intro_box {
  width: min(85%, 420px);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.intro h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
}
.intro p {
  width: 75%;
  font-size: 20px;
  font-weight: 200;
  line-height: normal;
}
.socials {
  font-size: 1.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .intro_box {
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .intro {
    text-align: center;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro p {
    width: 100%;
    font-size: 17px;
    padding: 0 25px;
  }
}
